@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* THEME */
:root {
    --primary: rgb(48, 49, 54);
    --background: rgb(27,27,29);
    --secondary: rgb(36, 37, 41);
    --accent: rgba(52, 152, 219,70%);
    --text: rgb(255,255,255);
    --text2: rgb(200,200,200)
  }
  

/* MAIN CODE */
*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.launcher-container{
    position: relative;
    width: 35%;
    height: 100vh;
}

.button-main-container{
    position:absolute;
    width: 100%;
    height: 32%;
    bottom: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}

.button-main-container button{
    margin: 0px 8px 8px 8px;
    padding: 3px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 2rem;
    transition: 0.2s;    
    text-transform: uppercase;
}

.button-main-container button:hover{
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* IMAGE */

.img-container{
    position: absolute;
    width: 95%;
    height: 65%;
    top: 1.5%;
    left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.img-container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;  
}



/* MOTD */

.motd-main{
    position: relative;
    display: flex;
    width: 64%;
    height: 99vh;
    top: 0.5vh;
    left: 0.5%;
    background-color:var(--background);
    color: var(--text2);
}

.motd-title{
    position: absolute;
    width: 100%;
    color: var(--text);
    font-size: 3rem;
    height: 10%;
    background-color: var(--primary);
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.motd-text-container{
    position: absolute;
    width: 100%;
    top: 10%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.3rem;
    padding: 20px 20px;
    height: 90%;
    background-color: var(--secondary);
}

